absl-py # No specific version
annotated-types # No specific version
anyio # No specific version
astunparse # No specific version
certifi # No specific version
charset-normalizer # No specific version
click # No specific version
dnspython # No specific version
email_validator # No specific version
exceptiongroup # No specific version
fastapi # No specific version
fastapi-cli # No specific version
flatbuffers # No specific version
gast # No specific version
google-pasta # No specific version
grpcio # No specific version
h11 # No specific version
h5py # No specific version
httpcore # No specific version
httptools # No specific version0.6.1
httpx # No specific version0.27.0
idna # No specific version3.7
importlib_metadata # No specific version7.1.0
Jinja2 # No specific version3.1.3
keras # No specific version3.3.3
libclang # No specific version18.1.1
Markdown # No specific version3.6
markdown-it-py # No specific version3.0.0
MarkupSafe # No specific version2.1.5
mdurl # No specific version0.1.2
ml-dtypes # No specific version0.3.2
namex # No specific version0.0.8
numpy # No specific version1.26.4
opencv-python # No specific version4.9.0.80
opt-einsum # No specific version3.3.0
optree # No specific version0.11.0
orjson # No specific version3.10.2
packaging # No specific version24.0
protobuf # No specific version4.25.3
pydantic # No specific version2.7.1
pydantic_core # No specific version2.18.2
Pygments # No specific version2.17.2
python-dotenv # No specific version1.0.1
python-multipart # No specific version0.0.9
PyYAML # No specific version6.0.1
requests # No specific version2.31.0
rich # No specific version13.7.1
shellingham # No specific version1.5.4
six # No specific version1.16.0
sniffio # No specific version1.3.1
starlette # No specific version0.37.2
tensorboard # No specific version2.16.2
tensorboard-data-server # No specific version0.7.2
tensorflow # No specific version2.16.1
tensorflow-io-gcs-filesystem # No specific version
termcolor # No specific version2.4.0
typer # No specific version0.12.3
typing_extensions # No specific version4.11.0
ujson # No specific version5.9.0
urllib3 # No specific version2.2.1
uvicorn # No specific version0.29.0
uvloop # No specific version0.19.0
watchfiles # No specific version0.21.0
websockets # No specific version12.0
Werkzeug # No specific version3.0.2
wrapt # No specific version1.16.0
zipp # No specific version3.18.1
